# HTTP请求库，用于与服务器进行通信
requests>=2.25.1
urllib3>=2.0.0
mysql-connector-python>=8.0.26
schedule>=1.1.0
PyQt5>=5.15.0
# 添加 Excel 处理相关依赖
pandas>=2.2.3
openpyxl>=3.1.0
xlrd>=2.0.1
# 添加 SQL Server 支持
pyodbc>=4.0.39
